/* Gaya untuk kotak carian */
#search-bar {
  padding: 20px 0;
}

#search-bar .container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-button:hover {
  background: #e05d50;
}
